version: '3.8'
services:
  db:
    image: postgres:17.6
    container_name: postgres17.6-db
    environment:
      - POSTGRES_USER=root
      - POSTGRES_PASSWORD=lokal26
      - POSTGRES_DB=testjuke-db
    ports:
      - "5432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data
    networks:
      - my-network

  app:
    build: .
    container_name: springboot-api
    ports:
      - "8080:8080"
    environment:
      - DB_HOST=db
      - DB_PORT=5432
      - DB_NAME=testjuke-db 
      - DB_USER=root
      - DB_PASS=lokal26
    networks:
      - my-network
    depends_on:
      - db

networks:
  my-network:
    driver: bridge

volumes:
  postgres-data:
    driver: local